---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

html {
  background: url(/img/wallhaven-56234-lite.jpg) no-repeat center fixed;
  // background-repeat: no-repeat;
  background-size: cover;
}

body {
  max-width: 900px;
  margin: 0 auto;
}

.wrapper {
  margin-left: 20px;
  margin-right: 20px;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  li {
    box-sizing: border-box;
    list-style: none;
    width: 50%;
    padding-bottom: 10px;
    &:nth-child(odd) {
      padding-right: 5px;
    }
    &:nth-child(even) {
      padding-left: 5px;
    }
    &:nth-child(-n+2) {
      // padding-bottom: none;
    }
    img {
      width: 100%;
    }
  }
}

.archive {
  h3 {
    text-indent: 2em;
    font-size: 1em;
  }
  ul {
    // list-style-position: inside;
    list-style-type: none;
  }
  li {
    text-indent: 2em;
  }
}
