---
layout: page
title: Archive
permalink: /archive/
---

<div class="archive">
  {% for post in site.posts %}
    {% assign currentyear = post.date | date: "%Y" %}
    {% assign currentmonth = post.date | date: "%B" %}
    {% if currentyear != yearflag %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h2>{{ currentyear }}</h2>
      {% assign yearflag = currentyear %}
    {% endif %}
    {% if currentmonth != monthflag %}
      {% unless forloop.first %}</ul>{% endunless %}
      <h3>{{ currentmonth }}</h3>
      <ul>
      {% assign monthflag = currentmonth %}
    {% endif %}
    <li>
      <a href="{{ post.url }}">"{{ post.title }}"</a>{% if post.speaker %} - {{ post.speaker }}{% endif %}
    </li>
    {% if forloop.last %}</ul>{% endif %}
  {% endfor %}
</div>
